.App {
  text-align: center;
}

.Home{
  height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.ElementBucket{
  height: 100vh;
  background-color: #212121;
}

.DroppableArea{
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.DragableElement{
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #fff;
  list-style: none;
}

.UIFormContainer{
  background-color: #fff;
  position: relative;
  z-index: 9;
  margin: 10vh auto 0 auto;
  width: 50%;
  padding: 3rem 5rem;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
